<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
   <add name="EramEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.120)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));password=Eram;persist security info=True;user id=ERAM;validate connection=True&quot;" providerName="System.Data.EntityClient" />
     <!--<add name="EramEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.99.28)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=multidb)));password=eram99;persist security info=True;user id=eram;validate connection=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EramEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedManagedDataAccess.Client;provider connection string=&quot;data source=192.168.1.120:1521/ORCL;password=ERAM;persist security info=True;user id=ERAM&quot;" providerName="System.Data.EntityClient" />
    <add name="EramEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedManagedDataAccess.Client;provider connection string=&quot;data source=192.168.1.121:1521/ORCL;persist security info=True;user id=ERAM&quot;" providerName="System.Data.EntityClient" />
    <add name="EramEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedManagedDataAccess.Client;provider connection string=&quot;data source=192.168.1.121:1521/ORCL;persist security info=True;user id=ERAM&quot;" providerName="System.Data.EntityClient" />
    <add name="EramEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedManagedDataAccess.Client;provider connection string=&quot;data source=192.168.1.120:1521/ORCL;password=eram;persist security info=True;user id=ERAM&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EramEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string='data source=&quot;(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.99.238)(PORT=1523))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=MULTIDB4)))&quot;;password=FACTMAGASIN2018;persist security info=True;user id=FACTMAGASIN;validate connection=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="cheminRexec" value="E:\OUTILS\CLM\" />
    <!--PROD-->
    <add key="IPBDGOLD" value="192.168.99.98" />
    <add key="IPBINGOLD" value="192.168.99.110" />
    <add key="Agrtest" value="data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.99.18)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=agrtest)));password=agresso;persist security info=True;user id=agresso;validate connection=True" />
    <add key="AGRDBLINK" value="@linkagresso" />
    <add key="LOGOPATH" value="E:\DATA\appFactureMag\Logos\" />
    <add key="TAUXTSC" value="10.5" />
    <add key="CLIENTSTATION" value="client station" />
    <add key="TARIFOTOP" value="942" />
    <add key="TARIFOTOPTOTAL" value="943" />
    <add key="SITESSPECTARIF" value="214" />
    <!--@AGRTEST-->
    <!--@AGRPROD-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>